body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: lighter;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
h3 {
  text-align: center;
  padding-bottom: 1rem;
}

table {
  border-collapse: collapse;
  max-width: 100%;
  min-height: 100%;
  margin-bottom: 2rem;
}

th, td{
  padding: 10px;
}

thead {
  background-color: rgb(128, 181, 250);
}

thead th {
  text-align: left;
  font-weight: lighter;
  font-size: 1.2rem;
}

table tr:nth-child(even) {
  background-color: aliceblue;
}

tbody {
  font-size: 13px;
}